@import url("https://fonts.cdnfonts.com/css/lazy-dog");

body {
  font-family: "Lazy Dog", sans-serif;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fffbf4;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #fffbf4;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 20px 0;
  color: #000;
}

.submit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.retry-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.submit-icon {
  width: 100px;
  height: 100px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fddbcf;
  border-radius: 50%;
}

.submit-button,
.retry-button {
  background-color: #e2b3ad;
  color: black;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-family: "Lazy Dog", sans-serif;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.submit-button:hover,
.retry-button:hover {
  background-color: #e76f51;
  transform: translateY(-2px);
}

.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.upload-container:hover {
  transform: scale(1.01);
}

.response-container {
  margin-top: 30px;
  text-align: center;
  word-wrap: break-word;
  width: 90%;
}

footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f5c2b8;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

footer button {
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

footer button:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  .submit-button,
  .retry-button {
    padding: 10px 20px;
    font-size: 1rem;
  }
}
